<%- include('partials/header') %>

<h1 class="centered">
    Login
</h1>

<form action="/login" method="post" class="centered">
<p class="centered"></p>

<input type="text" name="username" class="form-control centered-form" placeholder="Username"><br><br>
<input type="password" name="password" class="form-control centered-form" placeholder="Password"><br>
<button class="home" type="submit">Login</button>

</p>
</form>

<%- include('partials/footer') %>